@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Nunito, ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
            "Noto Color Emoji";
    }
}

.font-sans {
    font-family: Nunito, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

td,
th {
    padding: 5px;
}

td {
    vertical-align: top;
}


@layer components {
    .page-title {
        @apply md:text-5xl max-sm:text-3xl text-4xl;
    }
    .page-header {
        @apply flex flex-col gap-y-5 gap-x-6 max-sm:flex-row justify-between items-start flex-wrap;
    }
    .blue-button {
        @apply bg-blue-500 hover:bg-blue-700 border border-solid text-white font-bold py-2 px-4 rounded block w-fit;
    }
    .nav-menu-item {
        @apply block py-2 pl-3 pr-4 hover:text-blue-700 lg:p-0;
    }
    .label-wrapper {
        @apply text-xs inline-flex items-center font-bold uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full;
    }
    .form-field {
        @apply rounded border-gray-300 w-full max-w-md;
    }
    .delete-link {
        @apply text-red-600 hover:text-red-900;
    }
    .edit-link {
        @apply text-blue-600 hover:text-blue-900;
    }
}
